<h2>Contact us</h2>

<label><b>email:</b><p>obscuremetaller@gmail.com</p></label>
<br>
<label><b>twitter:</b><p>@gustafy</p></label>
<br>
<label><b>facebook:</b><p>www.facebook.com/gustavfy</p></label>