<div class="hero-unit">
    <h1>Photo Art</h1>
    <p>Are you an amateur photographer? Do you want to publish your work?<br> Here is the right place? Photo art: A website where you can share your work and know what people think about it. Upload now your pictures!!</p>
    <p>
        <a class="btn btn-primary btn-large">
            Get started
        </a>
    </p>
</div>
<div class="row">
	<div class="span12">
    <div class="span3">
	    <h3>Heading</h3>
	    <p>Curabitur egestas velit leo, vel tincidunt dui. Vestibulum feugiat, leo et malesuada tristique, nibh felis commodo leo, ac viverra libero nunc eu sapien. Integer ac lacinia urna. Fusce tortor nisl, aliquam sed vehicula accumsan, rhoncus eget sapien.</p>
	    <a class="btn" href="#">View Details >></a>
    </div>
    <div class="span3">
    <h3>Heading</h3>
      	<p>Curabitur egestas velit leo, vel tincidunt dui. Vestibulum feugiat, leo et malesuada tristique, nibh felis commodo leo, ac viverra libero nunc eu sapien. Integer ac lacinia urna. Fusce tortor nisl, aliquam sed vehicula accumsan, rhoncus eget sapien.</p>
        <a class="btn" href="#">View Details >></a>
    </div>
    <div class="span3">
    	<h3>Heading</h3>
        <p>Curabitur egestas velit leo, vel tincidunt dui. Vestibulum feugiat, leo et malesuada tristique, nibh felis commodo leo, ac viverra libero nunc eu sapien. Integer ac lacinia urna. Fusce tortor nisl, aliquam sed vehicula accumsan, rhoncus eget sapien.</p>
        <a class="btn" href="#">View Details >></a>
    </div>
</div>
</div>
<br><br><br>
